{% extends 'interface/base.html' %}

{% block title %}Orthognatic interface{% endblock %}

{% block sidebar %}
<h2>Controls</h2>

<form id="dicom-upload-form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <label for="dicom-files">DICOM:</label>
  <input type="file" id="dicom-files" name="dicom_file" multiple /><br>
  <button type="submit" id="visualize-dicom-btn">Visualiseer DICOM</button>
</form>

<form id="nifti-upload-form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <label for="nifti-file">NIFTI:</label>
  <input type="file" id="nifti-file" name="nifti_file"><br>
  <button type="submit" id="visualize-nifti-btn">Visualiseer NIFTI</button>
</form>

<br><br>
<button type="button" id="reset-viewer-btn">Reset Viewer</button>

<br><br><br>

<button type="button" id="run-algo1">Run Segmentation Algorithm</button><br> 
<button type="button" id="run-algo2">Run Landmark Algorithm</button><br>
<button type="button" id="run-algo3">Run Cephalometric Algorithm</button><br>
<button type="button" id="run-algo4">Run LeFort Algorithm</button><br>
{% endblock %}

{% block viewer %}
<div class="viewer-grid">
  <div class="viewer-cell" id="viewer-3d">
    <div class="viewer-label">3D</div>
    <div class="viewer-content"></div>
  </div>
  <div class="viewer-cell" id="viewer-axial">
    <div class="viewer-label">Axial</div>
    <div class="viewer-label-top">A</div>
    <div class="viewer-label-bottom">P</div>
    <div class="viewer-label-right">R</div>
    <div class="viewer-label-left">L</div>
    <div class="viewer-content"></div>
  </div>
  <div class="viewer-cell" id="viewer-coronal">
    <div class="viewer-label">Coronal</div>
    <div class="viewer-label-top">S</div>
    <div class="viewer-label-bottom">I</div>
    <div class="viewer-label-right">R</div>
    <div class="viewer-label-left">L</div>
    <div class="viewer-content"></div>
  </div>
  <div class="viewer-cell" id="viewer-sagittal">
    <div class="viewer-label">Sagittal</div>
    <div class="viewer-label-top">S</div>
    <div class="viewer-label-bottom">I</div>
    <div class="viewer-label-right">P</div>
    <div class="viewer-label-left">A</div>
    <div class="viewer-content"></div>
  </div>
</div>
{% endblock %}

{% block results %}
  <h2>Cursor inspector</h2>
    <div id="result-container" class="result-box">
      <div><strong>Voxel Index:</strong> <span id="voxel-index">–</span></div>
      <br>
      <div><strong>Intensity:</strong> <span id="voxel-value">–</span></div>
    </div>
    <br><br>
  <h2>Log </h2>
    <div id="log-container">
         <ul id="log-list">
         <li>Logboek is leeg.</li>
      </ul>
    </div>
{% endblock %}
